<!DOCTYPE html>

<html lang="en">
<%- include('partials/head') %>

<body>
  <h1>
    <%= locals.title %>
  </h1>

  <%- include('partials/nav.ejs') %>

  <main>
    <% if (locals.messages && locals.messages.length> 0) { %>
    <ul class="message-list">
      <% messages.forEach((message)=> { %>
      <li class="message">
        <div class="user-container">
          <span class="user"><%= message.user %></span>
          <% if (message.isDev) { %>
          <span class="dev-flair" aria-label="developer">Dev</span>
          <% } %>
          <span class="postfix">said...</span>
        </div>
        <pre class="text"><%= message.text %></pre>
        <div class="date-added">Added: <%= message.added.toDateString() %> at <%= message.added.toLocaleTimeString() %></div>
      </li>
      <% }); %>
    </ul>
    <% } else { %>
    <p class="no-messages">There are currently no messages.</p>
    <% } %>
  </main>
</body>

</html>