<!DOCTYPE html>

<html>
<%- include('partials/head') %>

<body>
  <h1>
    <%= locals.title %>
  </h1>
  <% if (locals.messages && locals.messages.length> 0) { %>
  <% messages.forEach((message)=> { %>
  <ul class="message-list">
    <li class="message">
      <div class="text">
        <%= message.text %>
      </div>
      <div class="user"><%= message.user %></div>
      <div class="added"><%= message.added.toUTCString() %></div>
    </li>
  </ul>
  <% }); %>
  <% } else { %>
  <p>There are currently no messages.</p>
  <% } %>
</body>

</html>